<h2 class="centered">{{product.name}}</h2>

<div class="wrapper">
  <div class="chart-container">
    <canvas baseChart
            [datasets]="productChartData"
            [labels]="productChartLabels"
            [options]="productChartOptions"
            [colors]="productChartColors"
            [legend]="productChartLegend"
            [chartType]="productChartType">
    </canvas>
  </div>
</div>

<div class="product-details-container">
  <mat-list>
    <mat-list-item><span>category:&nbsp;</span>{{product.category.name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>price:&nbsp;</span>{{product.price}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>quantity:&nbsp;</span>{{product.quantity}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>brand:&nbsp;</span>{{product.brand.name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>supplier name:&nbsp;</span>{{product.supplier.name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>supplier url:&nbsp;</span><a href="{{product.supplier.url}}"
                                                      target="_blank">{{product.supplier.url}}</a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item ><span>supplier rating:&nbsp;</span>{{product.supplier.rating}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>supplier iban:&nbsp;</span>{{product.supplier.iban}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>manufacturer name:&nbsp;</span>{{product.manufacturer.name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>manufacturer url:&nbsp;</span><a href="{{product.manufacturer.url}}"
                                                          target="_blank">{{product.manufacturer.url}}</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>manufacturer rating:&nbsp;</span>{{product.manufacturer.rating}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>manufacturer country:&nbsp;</span>{{product.manufacturer.country}}</mat-list-item>
  </mat-list>
</div>
