.centered {
  text-align: center;
  color: #f44336;
  max-width: 40%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 50px;
}

.chart-container {
  text-align: center;
  color: red;
  max-width: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.product-details-container {
  /*border: 2px solid red;*/
  text-align: center;
  color: red;
  max-width: 30%;
  margin: 0 auto;
}

/*.mat-divider {*/
/*  border-top-color: red;*/
/*}*/

span {
  color: #f44336;
}

a {
  color: white;
}
