<div class="products-container">

  <mat-form-field>
    <input matInput placeholder="name" #name>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="category" [(ngModel)]="categoryInputText" #category>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="from price" #priceFrom>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="to price" #priceTo>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="from quantity" #quantityFrom>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="to quantity" #quantityTo>
  </mat-form-field>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table class="products-table mat-elevation-z8" [dataSource]="dataSource"
             matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let product">{{product.category.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let product">{{product.price}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let product"
                [ngStyle]="{'color': colorService.getColorForValue(product.quantity, 50)}">
        {{product.quantity}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="accent" (click)="openDialog()">
          <mat-icon aria-label="Add">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let product; let i=index;">
        <button mat-icon-button color="accent" [routerLink]="['/products', product.id]">
          <mat-icon aria-label="View">remove_red_eye</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="openDialog(product)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(product.id)" >
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let product; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator [pageSize]="pageSize"
                 [length]="dataSource.dataLength$"
                 [pageSizeOptions]="[3, 5, 10]"></mat-paginator>

</div>
