/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin: 0;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}
